body {
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size:  14px;
    color:#6c7279;
    -webkit-font-smoofhing:antialiased;
    background-color: #fff;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;

}
p {margin:0 0 10px ;}


/* container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
}

/* header */


.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
 .header_logo{
     margin-left: 20px;
 }

 .header_inner{
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    align-items: center;
    border-bottom: 1px solid #515369  ; 
 }

 /* nav */

 .nav{
     display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
 }

 .nav_link {
     margin-left: 50px;
     color: #fff;
     text-decoration: none;
     opacity:0.75 ;

     transition: opacity .1s linear;
 }
  .nav_link:first-child{
      margin-left: 0px;

 }
  .nav_link:last-child{
      padding-right: 40px;
 }

 .nav_link:hover{
     opacity: 1;
     
 }

 /* intro */

 .intro{
    
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 750px;
     padding-top:100px ;
     background:#234 url("img/intro-bg.jpg") 
    center;
     background-size: cover;
 }

 .intro_inner {
     max-width: 100%;
     margin: 0 auto;
     text-align: center;
 }

 .intro_title {
     margin: 0 0 30px;
     font-family:'Open Sans', sans-serif;
     font-size: 65px;
     line-height:1.1 ;
     color: #fff;
     font-weight: 700;
     text-transform: uppercase;
     
 }

 .intro_subtitle{
     font-size: 22px;
     color: #fff;
     line-height: 1.5;
     font-weight: 400;
 }


 /* batton */
.btn{
    margin-top: 60px;
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;
    border-radius: 2px;
    border: 0;
    font-family: inherit;
    font-size: 13px;
    color:#fff ;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: background 1s;
}

 .btn--red {
    background-color:#e84545 ;
}

 .btn--red:hover {
  background-color: chartreuse;
}


.btn--long{
    min-width: 200px;
}


/* features */

 .features {
     justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}

 .features_item{
    width: 26.65333%;
    padding: 0 40px;
    margin: 10px 0;
    text-align: center;
}

 .features_icon{
    margin-bottom: 25px;

}

 .features_title {
    margin-bottom: 20px;
    
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}

 .features_text{
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
}


/* works */

 .works{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;  
}
 .works_item { 
     width: 24.9%;
     height: 350px;
     border-bottom: 1px solid #fff;
     border-right: 1px solid #fff ;
     position: relative;
     overflow: hidden;  
 }
 .works_item:hover .works_content{
     opacity: 1;
 }

 .works_photo{
     position: absolute;
     top: 50%;
     left: 50%;
     z-index: 1;
     transform: translate3d(-50%, -50%, 0);
 }

 .works_content{
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     height: 100%;
     background-color: rgba(232, 69, 69, 0.9);
     opacity: 0;
     text-align: center;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 2;
     transition: opacity .2s linear ;
 }

 .works_title{
     margin-bottom: 5px;
     font-size: 14px;
     font-weight: 700;
     color: #fff;
     text-transform: uppercase;
 }

 .works_text{
    font-size: 14px;
    color: #fff;
 }


 /* team */


 .team{ 
     margin: 100px 0 70px;
 }
 .team_inner{
     justify-content: center;
     display: flex;
     flex-wrap: wrap;
     
 }

 .team_item{
     justify-content: center;
     width: 23.2%;
     padding: 0 10px;
     margin-bottom: 30px;
 }

 .team_photo{
     display: block;
     max-width: 100%;
     height: auto;
     margin-bottom:20px ;
 }

 .name{
     margin-bottom: 8px;

     font-size: 22px;
     color: #2d3033;
 }

 .prof{
     margin-bottom: 15px;
     font-size: 13px;
     text-transform:uppercase ;
     color: #e84545;
 }

 .text{
     margin-bottom: 20px;
     font-size: 14px;
     line-height: 1.5;
     color: #6c7279;
 }


 /* social */

 .social{
     display: flex;}

 .social_item{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 40px;
     height: 40px;
     margin-right: 4px;
     display: inline-block;
     border: 1 solid #6c7279;
 }

 
 /* reviews */


 .reviews{
     overflow: hidden;
     background-color: #53354a;
}

 .reviews_item{
     display: flex;
     flex-wrap: wrap;
}

 .reviews_photo{
    width: 50%;
    height: 500px;
    position: relative;
}

.rw {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}


.reviews_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
    box-sizing: border-box;
}

.reviews_text{
    font-family: 'Cardo' ,sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height:1.2 ;
    color: #fff;
}


.reviews_autor{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
}





/* dow */

.download{
    margin: 90px 0;
    text-align: center;

}


.download_title{
    margin-bottom: 10px;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
}


.download_subtitle{
    margin-bottom: 30px;
    font-size: 13px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}


/* fot */




footer{
    height: 250px;
    background-color: #3a3e64;
}

.footinner{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.footblock{
    width: 33.33333%;
    text-align: center;
}


.ftitle{  
    margin-top: 70px; 
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.adr {
    margin: 20px;
    margin-bottom: 50px;
    font-style: normal;
    font-size: 14px;

    color: rgba(255, 255, 255, 0.5);
}

.copy{
    text-align: center;
    background-color: #234;
}

.ctext{
    text-align: center;
    font-weight: 700;
    color: rgba(rgba(92, 91, 91, 0.877), green, blue, alpha)
}

.hhh{
   color: #e84545;    
}

.wh{
    color: #fff;
}

.burger{
    
    padding-top: 9px;
    padding-bottom: 9px;
    display: none;
    background: none;
    border: none;
    cursor: pointer; 
}

.burger_item{
    margin-right: 30px;
    display: block;
    width: 28px;
    height: 3px;
    background-color:  #fff ;

    font-size: 0;
    color: transparent;

    position: relative;
    cursor: pointer;
}

.burger_item:before,
.burger_item:after {
    content:"" ;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 1S;
    background-color: #fff;  
}

.burger_item:before{
    top: -8px;
    width: 30px;

}

.burger_item:after{
    width: 26px;
    bottom: -8px;
}



/* media */


@media (max-width: 991px){

    .nav{
        display: none;
    }

    .burger{
        display: block;
    }
      
    .intro_title{
        font-size: 40px;
    }  
}

@media (max-width :767px){

    .intro{
        height: auto;
        padding-top: 130px;
        padding-bottom:30px;
    }

    .intro_title{
        font-size: 30px;
        margin-bottom: 50px;
    }

    .intro_subtitle{
        font-size: 16px;
    }

    .btn{
        margin-top: 30px;
    }
}
/* MEDIA */


@media (min-width :1196px){
    .features_item{
        width: 400px;
    }
}


@media (max-width :1196px){
    .features{
        justify-content: center;
    }
    .features_item{
        
        
        width: 355px;
        padding: 0 10px;
        
     }
}

@media (max-width :1125px){
    .features{
        justify-content: center;
    }
    .features_item{
        justify-content: center;
        height: auto;
        width: 30%;
    }
}


@media (max-width :1079px){
    .features{
        justify-content: center;
    }
    .features_item{

        width: 30%px;
    }
}
@media (max-width :810px){
    .features{
        justify-content: center;
    }
    .features_item{

        width: 30%;
    }
}

@media (max-width :600px){
    .features{
        justify-content: center;
    }
    .features_item{

        width: 200PX;
    }
}


@media (min-width :1250px){
    
    .team_item{
        margin: 0 10px;
        
    }  
}

@media (max-width :900px){
    .team_item{
        height: 500px;
        width: 50%;
    }
    .team{
        margin: 50px;
    }
}


@media (max-width :800px){
    .text{
        font-size: 12px;
    }
    .prof{
        font-size: 10px;
    }
    .name{
        font-size: 12px;
        text-transform: uppercase;
    } 
}


@media (max-width :1000px){
    .reviews{
        background-color: white;
    }
    .reviews_item{
       flex-direction: column;}
    
    .reviews_photo{
        margin-top: 100px;
        width: auto;
    }

    .reviews_text,.reviews_autor{
        
        color: rgba(248, 239, 239, 0.8);
        background-color: rgba(83, 53, 74, 0.5);

    }
    
    .reviews_content{
        padding-left: 40px;
        top: -150px;
        left: -30px;
        z-index: 1000;
        position: relative;
        width: 500px;
    }         
}
    
@media (max-width :1000px){
    .download{
        margin-top: 0;
        margin-bottom: 20px;
    }

    .btn{
        margin-top: 30px;
    }

    .footer{
        height: 200px;
    }

    .footblock{
        margin-top: -40px;
        height: 150px;
    }

    .adr{
        font-size: 10px;
    }      
}